fieldset {
	border: none;
}
* {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #FFFFFF;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;
}
:-ms-input-placeholder {
   color: #FFFFFF;
}

h1,h2,h3,h4,h5 {
	font-family: 'Pacifico', cursive;
	font-weight: normal;
}

html {
	font-family: 'Rokkitt', serif;
	font-size: 18px;
	line-height: 27px;
}

body {
	background: url(../images/SurfBackground.jpg) center center no-repeat fixed #fff;
	background-size: cover;
	color: #FFFFFF;
}
.content {
	padding: 20px;
	max-width: 580px;
	margin: 0 auto;
}

.panel {
	margin-top: 25%;
}

.opaque_black {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	width:100%;
	height: 100%;
	z-index: -5;
}

#feedback-success, #feedback-error {
	position: absolute;
}

input {
	border: 1px solid #FFFFFF;
	background-color: rgba(255,255,255, 0.5);
	border-radius: 5px;
	outline: none;
	font-size: 19px;
	line-height: 31px;
	padding: 4px 5px 0 5px;
	color: white;
	width: 70%;
}

input[type="submit"] {
	margin-top: 20px;
	width: 29%;
	padding: 4px 10px 0 10px;
}

@media screen and (max-width: 500px) {
	input {
		width: 100%;
		display: block;
	}

	input[type="submit"] {
		width: 100%;
	}
}

.hide {
	opacity: 0;
}

.logo {
	margin: 0 auto;
	display: block;
}

